header {
    background-color: var(--dark-grey);
    min-height: 100vh;
    position: fixed;
}

header ul {
    list-style: none;
}

header a {
    color: var(--light);
}

header a:hover {
    color: var(--orange);
}

header .active {
    font-family: var(--italic-font);
    color: var(--orange);
}

.title {
    margin-top: 20vh;
    margin-bottom: 10vh;
    margin-left: 5vh;
}

.title h1 {
    color: var(--orange);
    margin-bottom: 5vh;
}

.navbar ul li {
    margin-left: 5vh;
    margin-bottom: 2vh;
}

.contactItem {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 5vh;
}

.contactRow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rsItem i {
    font-size: x-large;
    text-align: center;
    place-self: center;
    margin-top: 10vh;
    margin-right: 5vh;
}

.rsItem i:hover {
    color: var(--orange);
}